@import url(https://db.onlinewebfonts.com/c/6c49e43018ee17b6cdbb80fe846b214d?family=Arial+Rounded+MT+Bold+Bold);

body{
    background:#F8F8F8;
    font-family: "Arial Rounded MT Bold Bold";
}

#contain{
    height: auto;
    width: 100%;
}

.todo-main-body{
    background: #fff;
    min-height: 800px;
    margin-top: 7.5%;
    border-radius: 33px;
    padding: 10%;
    z-index: 100;
    position: relative;
}

.logo-div {
    display: flex;
    justify-content: center;
}

.logo-div img{
    width: 200px;
    margin-top:7%;

}

.inputfield{
    margin-top: 7%;
    border-radius: 19px;
    padding:3% 5%;
    font-size: 24px;
    color:#0E0E0E;
    border: 1px solid #D0D0D0;
    position: relative;
}

.inputfield::placeholder {
    color:#D0D0D0;
}

.submitBtn{
    background:#1a1a1a;
    border-radius: 100px;
    width: auto;
    color:white;
    position: relative;
    left: 84%;
    margin-top: -21%;
}

.submitBtn:hover{
    background:#000;
}

.priority-container {
    background: #F8F8F8;
    padding: 34px 18px 10px 18px;
    border-radius: 20px;
    justify-content: space-between;
    align-items: center;
    margin-top: -11%;
    display: none;

}

.priority-label {
    font-weight: 600;
    font-size: 14px;
    color: #0E0E0E;
}

.priority-options {
    display: flex;
    gap: 5px;
}

.priority-btn {
    border: none;
    background: #ffffff;
    padding: 8px 14px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 500;
    color: #555;
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    transition: all 0.25s ease;
}

.priority-btn .dot {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: inline-block;
    background: #fff;
}

.priority-btn.high{
    background-color: #FFEEEE !important;
    border:1px solid #FF7D7D !important;
    color:#FF5555 !important;
}

.priority-btn.medium{
    background-color: #EAF4FF !important;
    border:1px solid #5FAFFF !important;
    color:#409FFF !important;
}

.priority-btn.low{
    background-color: #F4F4F4 !important;
    border:1px solid #8C8C8C !important;
    color:#8C8C8C !important;
}

/* Hover effect */
.priority-btn:hover {
    background: #ffffff;
    border:.5px solid #878787;
}

/* Active / Selected State */
.priority-btn.active {
    background: #000;
    color: #fff;
}

.submitIcon:hover{
    color:white
}

.filter-item{
width: 100%;
 border-bottom: 1px solid #D0D0D0;
 margin-top: 8%;
}

.form-input-filter{
    width: 90%;
    padding: 2%;
    border:0px;
    font-size: 20px;
    margin-left: 2%;

}

.form-input-filter::placeholder{
   color:#D0D0D0;
}

.searchIcon{
    margin-top:-1%;
    color:#D0D0D0;

}


.body-footer{
    background: #EBEBEB;
    height: auto;
    border-radius: 25px;
    margin-top: -40px;
     position: relative;
      z-index: 1;
      padding: 10% 5% .5% 5%;
      color:#605C5C;
    
}
.avatar{
    width: 20px;
}

.empty-state{
    width: 100%;
    padding: 10%;
    margin-top: 10%;
    display: none;
}

.empty-state h3{
    color:#CECECE;
}

.emptyimg{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 4%;
}

.noresult{
    width: 100%;
    padding: 10%;
    margin-top: 10%;
    display: none;
}

.noresult h4{
    color: #9E9E9E;
    margin-top: -11%;
}

.noresultimg{
    display: flex;
    justify-content: center;
}

.high-items-list{
    width: 100%;
    margin-top: 10%;
    list-style: none;
    padding-left: 0px !important;
}

.medium-items-list{
    width: 100%;
    margin-top: 10%;
    list-style: none;
    padding-left: 0px;
    margin-left: 0px;
}

.low-items-list{
    width: 100%;
    margin-top: 10%;
    list-style: none;
    padding-left: 0px;
    margin-left: 0px;
}


.item{
    width: 100%;
    padding: 5%;
    border:1px solid #F8F8F8;
    box-shadow: 2px 4px 7px #eeeeee;
    border-radius: 19px;
    font-size: 20px;
    color:#4F4F4F;
    margin-top: 5%;
    margin-left: 0px;
    list-style: none;
}

.item.strikethrough-text{
  text-decoration: line-through;
  color:#9D9D9D;
}

input[type="checkbox"] {

    width: 20px;
    height: 16px;
    border: 2px solid #CECECE;
    margin-right: 8px;
    accent-color: #bebebe;
    color:white;
    border-radius: 5px !important;
}


.removeIcon{
    float: right;
}

.removeimg{
    cursor: pointer;
}

.high-tag{
    background:#FF5555;
    border-radius: 100px;
    color:white;
        margin-bottom:5%;
        display: none;
}

.high-tag:hover{
    background:#FF5555;
    border-radius: 100px;
    color:white;
        margin-bottom:5%;
}

.badge-high{
    border-radius: 100px;
    color:#FF5555;
    background: white;

}



.medium-tag{
    background:#409FFF;
    border-radius: 100px;
    color:white;
        margin-bottom:5%;
        display: none;
}

.medium-tag:hover{
    background:#409FFF;
    border-radius: 100px;
    color:white;
        margin-bottom:5%;
}

.badge-medium{
    border-radius: 100px;
    color:#409FFF;
    background: white;

}


.low-tag{
    background:#5B5B5B;
    border-radius: 100px;
    color:white;
        margin-bottom:5%;
        display: none;
}

.low-tag:hover{
    background:#5B5B5B;
    border-radius: 100px;
    color:white;
        margin-bottom:5%;
}

.badge-low{
    border-radius: 100px;
    color:#5B5B5B;
    background: white;

}



.body-footer span{
    background: #F8F8F8;
    padding: 1% 1.5% 1.5%;
    border-radius: 50px;
}

.body-footer p{
    font-size: 12px;
}